@import "tailwindcss";


@layer components {
  .components {
    @apply px-4 sm:px-8 max-w-360 mx-auto;
  }

  .main-container {
    @apply py-4 md:py-8 px-4 sm:px-8 max-w-360 w-full mx-auto space-y-6 md:space-x-6;
  }
}

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  background-color: #0D1F1F;
  color: white;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #102323;
}

::-webkit-scrollbar-thumb {
  background: #1a3535;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a4545;
}